<% include header.ejs %>

<section>
    <h3>Pages</h3>
    checkout gitup to express
    <% if(username){ %>
        <p>and u are <b><%= username %></b></p>
    <% } %>

    <% for(var i=0; i<list.length; i++){ %>
        <p data-id="<%= list[i]._id %>">
            <%= list[i].alias %>
            <br>
            <%= list[i].title %>
            <br>
            <%= list[i].updateDate %>
        </p>
    <% } %>
</section>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script>
    var CUR_DATA = {
        username : '<%= username %>'
    };
    var pageData = {
        id: '10001',
        alias: 'test',
        langs: 'en',
        title: 'this is first ',
        description: 'amazing desc',

        shareImage: 'http://www.sdfasd.jpg',
        shareTitle: 'title share',
        shareDesc: 'testst tesdsf',

        isPublish: false,
        isDeleted: false,

        createUser: 'roeis',
        updateUser: 'roei'
    };
</script>
<script src="/js/page.js"></script>

<% include footer.ejs %>